# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Model checkpoints (if any)
*.h5
*.hdf5
*.pt
*.pth
*.ckpt

# data/MNIST/
# data/asl_data/
# data/doggy_door_data/
# data/fruits/
# data/presidential_doggy_door/
# data/nyt_dataset/
